/* Hero Section */
.hero-section {
    height: calc(100vh - 300px);
    background: url('../images/background.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* Profile Image Adjustments */
.profile-image {
    position: absolute;
    top: 78%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    z-index: 1;
}

/* Profile Section */
.profile-section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 250px;
    background-color: #f5f5f5;
    margin-top: -80px;
    line-height: 30px;
    position: relative;
}

.profile-card {
    text-align: left;
    width: 100%;
}

.profile-card h3 {
    font-size: 24px;
}

.profile-card h5 {
    font-size: 16px;
    color: #C07F00;
}

.location-company {
    display: flex;
    align-items: center;
}

.location-company p {
    margin-left: 5px;
    font-size: 14px;
}

/* Styling untuk Contact Details dan Address Details */
.company-information {
    display: flex;
    background-color: rgba(255, 247, 212, 0.3);
    width: auto;
    align-items: center;
    padding: 10px 30px;
    gap: 30px;
    border-radius: 5px;
    border: 1px solid rgba(76, 61, 61, 0.5);
}

.contact-details,
.address-details {
    border-radius: 8px;
    margin-bottom: 15px;
}

.contact-details h4,
.address-details h4 {
    font-size: 12px;
}

.contact-details p,
.address-details p {
    font-size: 10px;
}

/* Tambahkan border antara Contact Details dan Address Details */
.contact-details {
    position: relative;
    padding-right: 40px;
    width: 200px;
}

.contact-details::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 0;
    right: 0;
}

.address-details {
    width: 200px;
}

/* Sosial Media Icons */
.social-icons {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    align-items: center;
}

.social-icons i {
    font-size: 20px;
}

.edit-profile-btn button {
    width: 150px;
    height: 44px;
    background-color: #4C3D3D;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;

}

.content-profile {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-profile .tab-container {
    display: flex;
}

.content-profile .tab-container .tabs {
    line-height: 50px;
    width: calc(100% - 1200px);
    /* Hanya garis stroke di kanan */
    border-right: 1px solid grey;
    /* Atur warna dan ketebalan sesuai kebutuhan */
}

.content-profile .tab-container .tabs .tabs-btn a {
    color: #4C3D3D;
    text-decoration: none;
}

.content-profile .tab-container .tab-content {
    padding-left: 20px;
    padding-top: 5px;
}

.content {
    flex: 1;
}

.content-container {
    display: flex;
    flex-direction: row;
    /* background: blue; */
    width: 100%;
}

.content-container .content-result-container {
    flex: 4;
    /* background: blue; */
    margin-right: 1.4rem;
    padding-right: 1rem;
}

.content-container .before-content {
    border-right: 2px solid black;
}

.content-container .content-result-container .content-result-card {
    background: #f8f8f8;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
}

.content-container .content-result-container .content-result-card .content-result-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.content-container .content-result-container .content-result-card .content-result-info button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 0.2rem;
}

.content-container .content-result-container .content-result-card .content-result-info h5,
.content-container .content-result-container .content-result-card .content-result-text h5,
.content-container .content-result-container .content-result-card .content-result-image-produk h5 {
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
}

.content-container .content-result-container .content-result-card .content-result-text, 
.content-container .content-result-container .content-result-card .content-result-image-produk {
    margin-top: 0.6rem;
}

.content-container .content-result-container .content-result-card .content-result-image-produk .produk-image-container {
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
}

.content-container .content-result-container .content-result-card .content-result-image-produk .produk-image-container img {
    width: 88px;
    margin-right: 16px;
    height: 88px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 8px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition: 0.3s;
}

.content-container .content-result-container .content-result-card .content-result-image-produk .produk-image-container img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: 0.3s;
}

.content-container .content-result-container .content-result-card .content-result-text p {
    font-size: 16px;
}

.content-container .content-result-container .content-result-card .content-result-text .content-text-container {
    margin-bottom: 0.4rem;
}

.btnEdit {
    background: #ffc107;
}

.btnEdit:hover {
    background: #e4ae0d;
    transition: 0.3s;
}

.btnHapus {
    background: rgb(252, 24, 24);
}

.btnHapus:hover {
    background: rgb(224, 24, 24);
    transition: 0.3s;
}

/* Alert */

.alert-error {
    padding: 16px;
    padding-left: 32px;
    border: 1px solid #f44336;
    background-color: white;
    color: #f44336;
    border-radius: 0.4rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.alert {
    padding: 16px;
    padding-left: 32px;
    border: 1px solid #4CAF50;
    background-color: white;
    color: #4CAF50;
    border-radius: 0.4rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.alert .closebtn {
    margin-left: 15px;
    color: #4CAF50;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* Alert */

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.close,
.mediaClose,
.sertifikatClose,
.eksporClose,
.produkClose,
.pameranClose,
.pembinaanClose,
.lainnyaClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus,
.produkClose:hover,
.produkClose:focus,
.mediaClose:hover,
.mediaClose:focus,
.sertifikatClose:hover,
.sertifikatClose:focus,
.eksporClose:hover,
.eksporClose:focus,
.pameranClose:hover,
.pameranClose:focus,
.pembinaanClose:hover,
.pembinaanClose:focus,
.lainnyaClose:hover,
.lainnyaClose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    text-align: center;
    padding: 2px 16px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 1rem;
    border: 1px solid #888;
    border-radius: 0.4rem;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    
}

@keyframes animatetop {
    from {top: -100px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-content h2 {
    text-align: center;
    color: #4C3D3D;
}

.modal-content .form-container {
    margin-top: 1.4rem;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    padding: 1rem;
    width: 100%;
}

.modal-content .form-container .input-container {
    display: flex;
    flex-direction: column;
}

.modal-content .form-container .input-container .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.modal-content .form-container .input-container .input-group label, .modal-content .form-container .input-container .input-group p {
    font-size: 16px;
    font-weight: 600;
    cursor: default;
    margin-bottom: 0.4rem;
}

.modal-content .form-container .input-container .input-group a {
    font-size: 16px;
    margin-bottom: 0.4rem;
}

.modal-content .form-container .input-container .input-group input[type="text"] {
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
}

.modal-content .form-container .input-container .input-group textarea {
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
    height: 120px;
}

.modal-content .form-container button {
    cursor: pointer;
    border-radius: 0.4rem;
    color: white;
    font-weight: bold;
    background-color: #4C3D3D;
    padding: 0.4rem;
    width: 100%;
}

.input-group input[type="file"] {
    font-size: 0.9rem;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 0.5rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input[type="file"]:hover {
    border-color: #80bdff;
}

.input-group input[type="file"]:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.25);
}

.input-group input[type="file"]::file-selector-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #fff;
    background-color: #4C3D3D;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    margin-right: 1rem;
    transition: background-color 0.3s ease;
}

.input-group input[type="file"]::file-selector-button:hover {
    background-color: #372c2c;
}

.input-group input[type="file"]::file-selector-button:active {
    background-color: #372c2c;
}

.input-group input[type="date"] {
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
}

input#tanggalPameran {
    height: 35px;
    border-width: 1px;
    padding: 10px;
}

/* Modal */

.content-container .content-result-container .content-result-card .content-result-file {
    margin-top: 0.8rem;
}

.content-container .content-result-container .content-result-card .content-result-file iframe {
    margin-top: 0.4rem;
}

.content-container .add-data {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* background: red; */
}

.content-container .add-data button {
    font-weight: 600;
    background-color: #4CAF50;
    padding: 0.4rem;
    border-radius: 0.4rem;
    color: white;
    cursor: pointer;
}

.content-container .add-data button:nth-child(2) {
    margin-top: 0.4rem;
}

.content-container .add-data button:hover {
    background-color: #45a049;
}

#myModalDelete .modal-content {
    margin-top: 12rem;
}

#myModalDelete .btn-delete-container {
    display: flex;
    justify-content: start;
}

#myModalDelete .btn-delete-container button{
    width: 56px;
    height: 32px;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-right: 0.2rem;
    margin-top: 0.4rem;
    cursor: pointer;
}

#myModalDelete .btn-delete-container button {
    background-color: #4CAF50;
}

#myModalDelete .btn-delete-container #btnClose {
    background-color: #f44336;
}

/* Modal Image */
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 125px;
    padding-bottom: 125px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; 
  }

  .prev {
    left: 15%;
  }

  .next {
    right: 15%;
  }
  
  /* Modal Content (Image) */
  .imageModalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .imageClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .imageClose:hover,
  .imageClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/* Modal Image */

.content-before-content-one,
.content-before-content-two,
.content-before-content-three,
.content-before-content-four,
.content-before-content-five {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;

}

.content-before-content-one p,
.content-before-content-two p,
.content-before-content-three p,
.content-before-content-four p,
.content-before-content-five p {
    font-size: 12px;
    margin-bottom: 8px;

}

.content-before-content-one h5,
.content-before-content-two h5,
.content-before-content-three h5,
.content-before-content-four h5,
.content-before-content-five h5 {
    font-size: 14px;
    margin-bottom: 15px;

}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.produk-before-content {
    margin: 20px;
    /* Optional: margin for the overall container */
}

.produk-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 10px;
    margin-bottom: 30px;
}

.produk-before-content-one,
.produk-before-content-two,
.produk-before-content-three,
.produk-before-content-four,
.produk-before-content-five {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;

}

.produk-before-content-one p,
.produk-before-content-two p,
.produk-before-content-three p,
.produk-before-content-four p,
.produk-before-content-five p {
    font-size: 12px;
    margin-bottom: 8px;

}

.produk-before-content-one h5,
.produk-before-content-two h5,
.produk-before-content-three h5,
.produk-before-content-four h5,
.produk-before-content-five h5 {
    font-size: 14px;
    margin-bottom: 15px;

}


.sertifikasi-before-content {
    margin: 20px;
    /* Optional: margin for the overall container */
}

.sertifikasi-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 10px;
    margin-bottom: 30px;
}

.sertifikasi-before-content-one,
.sertifikasi-before-content-two,
.sertifikasi-before-content-three,
.sertifikasi-before-content-four,
.sertifikasi-before-content-five {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;

}

.sertifikasi-before-content-one p,
.sertifikasi-before-content-two p,
.sertifikasi-before-content-three p,
.sertifikasi-before-content-four p,
.sertifikasi-before-content-five p {
    font-size: 12px;
    margin-bottom: 8px;

}

.sertifikasi-before-content-one h5,
.sertifikasi-before-content-two h5,
.sertifikasi-before-content-three h5,
.sertifikasi-before-content-four h5,
.sertifikasi-before-content-five h5 {
    font-size: 14px;
    margin-bottom: 15px;

}


.sertifikasi-before-content {
    margin: 20px;
    /* Optional: margin for the overall container */
}

.sertifikasi-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 10px;
    margin-bottom: 30px;
}

.sertifikasi-before-content-one,
.sertifikasi-before-content-two,
.sertifikasi-before-content-three,
.sertifikasi-before-content-four,
.sertifikasi-before-content-five {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;

}

.sertifikasi-before-content-one p,
.sertifikasi-before-content-two p,
.sertifikasi-before-content-three p,
.sertifikasi-before-content-four p,
.sertifikasi-before-content-five p {
    font-size: 12px;
    margin-bottom: 8px;

}

.sertifikasi-before-content-one h5,
.sertifikasi-before-content-two h5,
.sertifikasi-before-content-three h5,
.sertifikasi-before-content-four h5,
.sertifikasi-before-content-five h5 {
    font-size: 14px;
    margin-bottom: 15px;

}

.pameran-content {
    margin: 20px;
    /* Optional: margin for the overall container */
}

.pameran-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 10px;
    margin-bottom: 30px;
}

.pameran-content-one,
.pameran-content-two,
.pameran-content-three,
.pameran-content-four,
.pameran-content-five {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;

}

.pameran-content-one p,
.pameran-content-two p,
.pameran-content-three p,
.pameran-content-four p,
.pameran-content-five p {
    font-size: 12px;
    margin-bottom: 8px;

}

.pameran-content-one h5,
.pameran-content-two h5,
.pameran-content-three h5,
.pameran-content-four h5,
.pameran-content-five h5 {
    font-size: 14px;
    margin-bottom: 15px;

}

.ekspor-content {
    margin: 20px;
    /* Optional: margin for the overall container */
}

.ekspor-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 10px;
    margin-bottom: 30px;
}

.ekspor-content-one,
.ekspor-content-two,
.ekspor-content-three,
.ekspor-content-four,
.ekspor-content-five {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;

}

.ekspor-content-one p,
.ekspor-content-two p,
.ekspor-content-three p,
.ekspor-content-four p,
.ekspor-content-five p {
    font-size: 12px;
    margin-bottom: 8px;

}

.ekspor-content-one h5,
.ekspor-content-two h5,
.ekspor-content-three h5,
.ekspor-content-four h5,
.ekspor-content-five h5 {
    font-size: 14px;
    margin-bottom: 15px;

}

.promosi-content {
    margin: 20px;
    /* Optional: margin for the overall container */
}

.promosi-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 10px;
    margin-bottom: 30px;
}

.promosi-content-one,
.promosi-content-two,
.promosi-content-three,
.promosi-content-four,
.promosi-content-five {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;

}

.promosi-content-one p,
.promosi-content-two p,
.promosi-content-three p,
.promosi-content-four p,
.promosi-content-five p {
    font-size: 12px;
    margin-bottom: 8px;

}

.promosi-content-one h5,
.promosi-content-two h5,
.promosi-content-three h5,
.promosi-content-four h5,
.promosi-content-five h5 {
    font-size: 14px;
    margin-bottom: 15px;

}

.pembinaan-content {
    margin: 20px;
    /* Optional: margin for the overall container */
}

.pembinaan-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 10px;
    margin-bottom: 30px;
}

.pembinaan-content-one,
.pembinaan-content-two,
.pembinaan-content-three,
.pembinaan-content-four,
.pembinaan-content-five {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;

}

.pembinaan-content-one p,
.pembinaan-content-two p,
.pembinaan-content-three p,
.pembinaan-content-four p,
.pembinaan-content-five p {
    font-size: 12px;
    margin-bottom: 8px;

}

.pembinaan-content-one h5,
.pembinaan-content-two h5,
.pembinaan-content-three h5,
.pembinaan-content-four h5,
.pembinaan-content-five h5 {
    font-size: 14px;
    margin-bottom: 15px;

}

.btn-submit, .btn-cancel {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.tab-button {
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    position: relative;
    transition: all 0.3s ease;
}

.tab-button:hover {
    color: #000;
}

.tab-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.tab-button:hover::after,
.tab-button.active::after {
    /* Underline on hover and when active */
    width: 100%;
}

.tab-button.active {
    color: #000;
    /* Optional: Change text color for active tab */
}

.dropdown-container {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mobile-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.content-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .hero-section {
        height: auto;
        padding: 20px;
    }

    .profile-image {
        position: static;
        transform: none;
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .profile-section {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 0;
    }

    .profile-card {
        text-align: center;
        width: 100%;
    }

    .company-information {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }

    .contact-details,
    .address-details {
        width: 100%;
        text-align: center;
    }

    .edit-profile-btn {
        margin-top: 20px;
    }

    .content-profile {
        padding: 20px;
    }

    .content-profile .tab-container {
        flex-direction: column;
    }

    .content-profile .tab-container .tabs {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid grey;
    }

    .content-profile .tab-container .tabs .tabs-btn {
        flex: 0 0 auto;
    }

    .content-profile .tab-container .tab-content {
        padding-left: 0;
        padding-top: 20px;
    }

    .content-container {
        flex-direction: column;
    }

    .content-container .content-result-container {
        margin-right: 0;
        padding-right: 0;
    }

    .content-container .before-content {
        border-right: none;
        border-bottom: 2px solid black;
    }

    .content-container .content-result-card {
        margin-top: 20px;
    }

    .content-container .content-result-card .content-result-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-container .content-result-card .content-result-info button {
        width: auto;
        height: auto;
        margin-top: 10px;
    }

    .content-container .content-result-card .content-result-text,
    .content-container .content-result-card .content-result-image-produk {
        margin-top: 20px;
    }

    .content-container .content-result-card .content-result-image-produk .produk-image-container {
        flex-direction: column;
    }

    .content-container .content-result-card .content-result-image-produk .produk-image-container img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .content-container .add-data {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-container .add-data button {
        width: 100%;
        margin-top: 10px;
    }

    .modal-content {
        width: 90%;
    }
}